body {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #f0f0f0;
}

#top {
	background: #555555;
	padding: 10px 0;
}

#top .offer {
	color: #fff;
}
a {
	color: #4fbfa8;
	text-decoration: none;
}

#top a {
	color: #fff;
	text-decoration: none;
}

#top .offer .btn {
	text-transform: uppercase;
}

#top ul.menu {
	padding-top: 5px;
	margin: 0;
	text-align: right;
	font-size: 12px;
	list-style: none;

}

#top ul.menu > li + li:before {
  content: "|\00a0";
  padding: 0 5px;
  color: #f7f7f7;
}

#top ul.menu > li {
	display: inline-block;
}

#top ul.menu > li a {
	color: #eeeeee;
}

.modal-title h4 {
	color: #ffffff;
}

#top #login-modal .modal-header {
	background: #4fbfa8;
	text-align: center;
}

#top #login-modal p {
	font-weight: 300;
	margin-bottom: 20px;
}

#top #login-modal a {
	color: #4fbfa8;
}
.form-group {
	margin-bottom: 20px;
}
.btn-primary {
	color: #ffffff;
	background-color: #4fbfa8;
}

.btn {
    font-weight: normal;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 3px;
}

a i.fa, button i.fa {
	margin: 0 5px;
}

.yamm {
	border: 0;
}
.navbar-default {
	background-color: #ffffff;
	border-bottom-color: #e6e6e6;
}

.navbar-brand {
	padding: 10px 15px;
}

.navbar-brand span {
	font-size: 25px;
	color: #000000;
	font-weight: 300;
	font-style: italic;
	padding-top: 10px;
}


#navbar-btn {
    font-weight: normal;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 3px;
    color: #ffffff;
    background-color: #4fbfa8;
    border-color: #41b39c;
    margin-top: 18px;
    margin-bottom: 18px;
}

#list-left a {
	padding-bottom: 25px;
	padding-top: 25px;
}

#list-lef a:hover, #list-left a:focus, #list-left .active a{
	color: #555555;
    background-color: #4fbfa8;
}
#carousel-id {
	margin-bottom: 25px;
}
#advantage {
	text-align: center;
}
.box {
	background-color: #fff;
	border: solid 1px #e6e6e6;
	margin: 0 0 30px;
	box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

#hot h2 {
	text-transform: uppercase;
	font-size: 36px;
	color: #4fbfa8;
	font-weight: 100;
	text-align: center;
}
@media (min-width: 768px) and (max-width: 992px){
	#top ul.menu {
		text-align: center;
	}

	#top .offer {
		text-align: center;
		margin-bottom: 10px;
	}

}

.items {
	margin-bottom: 30px;
}

#content .product {
	background-color: #fff;
	margin: 0 25px;
}
#content .product .text {
	padding: 10px 10px 0;
}

#content .product .text h3 {
	font-size: 18px;
	font-weight: 700;
	height: 39.6px;
	text-align: center;
	overflow: hidden;
}

#content .product .text a {
	color: #555555;
}

#content .product .text p.price {
	font-size: 18px;
	text-align:center;
	font-weight: 300;
}

#footer {
	background: #e0e0e0;
	padding: 20px 0;
}

#footer ul {
	padding: 0;
	list-style: none;
}

#footer #hours li{
	padding-bottom: 5px;
}

.footer-text {
	color: #777;
}

#copyright {
	background:#333;
	color: #ccc;
	padding: 20px 0;
	font-size: 12px;
}
@media(max-width: 767px)
{
		#top ul.menu {
		text-align: center;
	}

	#top .offer {
		text-align: center;
		margin-bottom: 10px;
	}

	#footer {
		text-align: center;
	}
}