body {
	font-size: 16px;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	/*background-color: #222930;*/
	background-color: #4EB1BA;;
}
/**
#222930
#4EB1BA
#E9E9E9
**/

/**HEADER**/
#header-nav {
	border-radius: 0;
	border: 0;
	background-color: #222930;
}
.navbar-brand {
	margin-right: 15px;
}
.navbar-brand h1 {
	font-style: italic;
	color: #4EB1BA;
	font-size: 1.5em;
	margin-top: 0;
}
#logo {
	font-size: 25px;
	color: #4EB1BA;
	padding: 10px 5px 0 0;
}

#collapsable-nav a {
	padding: 10px 10px 5px 10px;
	color: #FFFFFF;
}

#collapsable-nav li {
	margin-top: 10px
}

#left-list a:hover, #left-list a:focus {
	background-color: #4EB1BA;
}

.container .jumbotron {
	box-shadow: 0 0 50px #222930;
	border: 2px solid #222930;
}

.main-title {
	border: 2px solid #222930;
	text-align: center;
	font-size: 1.53em;
	color: #222930;
	margin-bottom: 20px;
}

.main-title span {
	color: red;
}
/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/scarves_1200.jpg') no-repeat;
    height: 675px;
  }
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Home Page */
  .container .jumbotron {
    background: url('../images/scarves_992.jpg') no-repeat;
    height: 558px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
    background: url('../images/scarves_768.jpg') no-repeat;
    height: 432px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
	.container .jumbotron {
		padding: 0;
	}

}